# Maven build folders
/target/
!.mvn/wrapper/maven-wrapper.jar

# Maven wrapper scripts
mvnw
mvnw.cmd

# IntelliJ IDEA files
.idea/
*.iml

# VS Code
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage
coverage/
